<header>
    <div class="head">
        <img src="/img/logo-mercado-liebre.svg">
    <div class="bux">
        <input type="text" name="buscar" id="buscar" placeholder="Buscar producto deseado🔍">
</div>
        <div class="ico">
            <i class="fas fa-hand-holding-usd">Compra en cuotas y sin tarjeta de crédito</i>
        </div>
    </div>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
            <div class="icotamano">
                <li><a href="register">Crea tu cuenta</a><i class="far fa-id-card"></i></li>
                <li><a href="login">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </div>
            </ul>
        </nav>
        <div class="menu">
            <i class="fas fa-bars"></i>
            </div>
            <div class="logo"><img src="/img/img-home-banner.jpg"></div>
    </header>